<div class="screen-container">
    <div class="screen-Heading">
        Hello Financially Astute User 😉
    </div>

    <div class="screen-defaultLabels">
        With our mobile application, Astute, you have been able to:
    </div>

    <app-screen-cards>
        <span label>Increase your savings </span>
        <span small-label>How? </span>
        <span card-content>Wavy helps you create an actionable saving plan that works with your current financial
            position.</span>

    </app-screen-cards>

    <app-screen-cards>
        <span label>Reduce your debt</span>
        <span small-label>How? </span>
        <span card-content>We priotise paying off your most expensive debt by curating an actionable plan that is easy
            to implement.</span>

    </app-screen-cards>

    <app-screen-cards>
        <span label>Increase your savings </span>
        <span small-label>How? </span>
        <span card-content>We help you pick the investments that are best aligned with your financial goals.</span>

    </app-screen-cards>

    <div class="screen-spacer"></div>

    <span class="screen-smallLabels">
        Your current financial status
    </span>

    <span class="status-button">
        Financially Free
    </span>
</div>