<div class="updateBar">
    <div class="updateBar-contentsContainer">
        <span class="updateBar-heading">
            We are back and excited to be back!
        </span>

        <span class="updateBar-contents">
            Thanks for the support over the years we would not have been able to be back without the support!

        </span>
        <span class="updateBar-contents">We have some
            <span class="updateBar-contents--highlighted">
                updates
            </span>
            to share.</span>
    </div>
</div>