<div class="navbarContainer">
    <div class="navbarContainer-linksContainer">
        <a href="" class="navbar-links--logo">astute</a>
        <a href="" class="navbar-links--Make">Make</a>
        <a href="" class="navbar-links--Keep">Keep</a>
        <a href="" class="navbar-links--Grow">Grow</a>
        <a href="" class="navbar-links--Money">Your Money</a>
        <a href="" class="burgerIcon">
            <ul class="links">
                <li> <img src="../../../assets/icons/menu.png" alt="" class="burger-icon">
                    <ul class="dropdownLinks">
                        <li class="dropdownLinks--Make">Make </li>
                        <li class="dropdownLinks--Keep">Keep</li>
                        <li class="dropdownLinks--Grow">Grow</li>
                        <li class="dropdownLinks--Money"> Your Money</li>
                    </ul>
                </li>
            </ul>
        </a>
    </div>