@use '../../../../styles/abstracts/index.scss' as general;


@mixin navbar-links {
    @include general.default-menu-links;
    color: general.$black;
}

.navbar-links--Make {
    @include navbar-links;
}


.navbar-links--Keep {
    @include navbar-links;
}

.navbar-links--Grow {
    @include navbar-links;
}

.navbar-links--Money {
    @include navbar-links;
}

.navbarContainer {
    width: auto;
    display: flex;
    justify-content: center;
    background-color: white;
    margin: 0px;

}

.navbarContainer-linksContainer {
    width: 1017px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center
}


.navbar-links--logo {
    @include general.logo-text;
    color: general.$black;
}

.navbar-links--logo:hover {
    color: general.$primary-blue;
}





ul {
    list-style-type: none;
    padding: 0px;
    margin-right: general.$default;
}

a {
    text-decoration: none;
    color: general.$black;
}

a:hover {
    color: general.$primary-blue;
}

//active links

.makeActive-link {
    color: general.$lavendar500;
}

.keepActive-link {
    color: general.$orange500;
}


.growActive-link {
    color: general.$green200;
}

.moneyActive-link {
    color: general.$primary-blue;
}

.aboutActive-link {
    text-decoration: underline;
}




.hamburger-menu {
    display: none;
}

.hamburger-link {
    display: none;
}

.hamburger-box {
    display: none;
}


.button-box {
    display: flex;
    justify-content: flex-start;
}



//responsive design and components

@media (max-width: 1017px) {

    .hamburger-icon {
        background-color: white;
        border: none;
        margin: 0px;
        padding: 0px;
    }

    .navbarContainer-linksContainer {
        height: fit-content;
    }

    .aboutActive-link {
        text-decoration: underline;
    }


    .navbar-links--Make {
        display: none;
    }

    .navbar-links--Keep {
        display: none;
    }

    .navbar-links--Grow {
        display: none;
    }

    .navbar-links--Money {
        display: none;
    }

    .navbarContainer-linksContainer {
        width: 90%;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center
    }


    .navbar-links--logo {
        display: none;

    }

    .hamburger-menu {
        display: flex;

        flex-direction: column;
        @include general.small-menu-links;
        color: general.$black;
    }



    .hamburger-linkActive--make {
        color: general.$lavendar500
    }

    .hamburger-link {

        display: flex;

        color: general.$black;
        @include general.small-menu-links;
        text-align: right;
    }

    .hamburger-box {
        display: flex;
        margin-top: 10px;
        flex-direction: column;
        width: 105px;

    }

    .hamburger-logo--small {
        @include general.logo-text-small;

    }


}