<div class=" plan-framework">

    <span class="cardContainer">
        <span class="cardContainter--content">
            <span class="goal-label">
                Your priority debt
            </span>

            <span class="goal-amount">
                Golden Credit Card
            </span>

        </span>

    </span>

    <!--recommendation-->

    <span class="recommendation">
        We have considered your current earnings and have devised the following savings plans for you. Select the saving
        plan
        that you perfer the most.
    </span>

    <span class="tabRow">
        <span class="active-smallTab">
            Recommended
        </span>

        <span class="nonactive-smallTab">
            Conservative
        </span>

        <span class="nonactive-smallTab">
            Aggresive
        </span>
    </span>

    <!--card plan-->

    <span class="planContainer">

        <span class="planContainer-content">
            <span class="planContainer-row">
                <span class="plan-label">
                    Catergory
                </span>
                <span class="goal-amount">
                    Retirement
                </span>
            </span>
            <span class="planContainer-content">
                <!--description-->
                <span class="planContainer-row">
                    <span class="plan-label">
                        Short description

                    </span>

                    <span class="goal-amount-black">
                        Build savings for my retirement
                    </span>
                </span>

                <!--two colums-->
                <span class="row-divided">
                    <span class="row-column">
                        <span class="plan-label">
                            Total amount saved

                        </span>

                        <span class="goal-amount-black">
                            R 250 000
                        </span>
                    </span>

                    <span class="row-column">
                        <span class="plan-label">
                            Target Amount

                        </span>

                        <span class="goal-amount-black">
                            R 500 000
                        </span>
                    </span>
                </span>


                <!--two colums-->
                <span class="row-divided">
                    <span class="row-column">
                        <span class="plan-label">
                            Monthly savings

                        </span>

                        <span class="goal-amount-black">
                            R 2 605.00
                        </span>
                    </span>

                    <span class="row-column">
                        <span class="plan-label">
                            Finish date

                        </span>

                        <span class="goal-amount-black">
                            23/06/2030
                        </span>
                    </span>
                </span>


                <!--the button-->
                <span class="addbutton-row">
                    <span class="circle-button">
                        <img src="../../../assets/icons/add.png" alt="" class="icon">

                    </span>
                </span>

            </span>
        </span>



    </span>

</div>