@use '../../styles/abstracts/index.scss' as general;

.page {
    width: 100%;
    display: flex;
    justify-content: center;

}

.pageLayout {
    display: flex;
    justify-content: space-between;
    width: 1017px;
    padding-top: 60px;
}


@media (max-width: 1017px) {

    .pageLayout {

        width: 90%;

    }
}